body {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  /* height: 100vh;         */
  margin: 0;
}

.otp-input{
  height: 50px;
  width: 50px;
  font-size: 40px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  
}

.outer{
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  
}

.inner{
  background-color: green;
 
  text-align: right;
  padding: 5px;
  transition: 0.5s ease-in;
}

.Explorer_container{
  text-align: left;
  padding-left: 20px;
}

.icon{
  width: 20px;
  margin-left: 10px;
  
}


.input-box{
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}

.heading{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  
 
}


.result-container{
  border: 1px solid black;
  width: 500px;
  margin-left: 10px;
  max-height: 500px;
  text-align: left;
  overflow-y: scroll;
}


.list p{
 
  margin-left: 10px;
  padding: 10px;
}

.result-container :hover{

  background-color: rgb(215, 214, 214);
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


.card-container{

  display: flex;
  width: 200px;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;

}

.card-container:hover{
  background-color: coral;
}

.card-image{
  width: 200px;
  height: 200px;
}

.product-container{

  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-bottom: 10px;


}

.pagination-title{
  display: flex;
  justify-content: center;
}

.pagination-container{
  display: flex;
  justify-content: center;
}

.page-number{
  padding: 8px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  
}